/*
 *
 * Base
 *
 */


html,
body {
    margin: 0;
    width: 100%; height: 100%;
    color: #fff;
    background: $color-bg;
    font-family: $fontFamily-base;
}


.content-container {
    width: 90%; max-width: 1000px;
    margin: 0 auto;
}
