/*
 *
 * Reset
 *
 */


 /* Colors
 -----------------------*/

$color-bg    : #33333d;
$color-grey  : #6e6e73;



/* Fonts
-----------------------*/

$fontFamily-base: 'Lato', arial, sans-serif;
$fontFamily-serif: 'Radley', arial, sans-serif;
