/*
 *
 * Reset
 *
 */


 /* Colors
 -----------------------*/

$color-bg: #33333d;



/* Fonts
-----------------------*/

$fontFamily-base: 'Lato', arial, sans-serif;
$fontFamily-serif: 'Radley', arial, sans-serif;
